#test
name: "CI/CD Hello World"
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Say Hello World
        run: echo "Hello, World!"
